.card {
  background: #fff;
  border-radius: 40px;
  height: 130px;
  margin: .2rem;
  position: relative;
  width: 180px;
  box-shadow: 0 3px 4px rgb(92, 5, 5), 0 3px 3px rgb(214, 0, 0);
}

.card > .img-container {
  border-radius: 40px;
  height: 100%;
  overflow: hidden;
  background:rgb(102, 2, 2);
}
.card > .img-container > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.card > .clickable:hover {
  margin: 0px;
  padding: 8px;
  box-shadow: 0 8px 9px rgb(92, 5, 5), 0 -6px 8px rgb(214, 0, 0);
}
