.title {
  width: 100%;
  text-align: center;
  font-size: 4rem;
  text-decoration: none;
  color:white;
  background: rgb(94, 1, 1);
}
.black-bg {
  background-color: black;
}

@media only screen and (max-width: 660px) {
  .alignment {
    justify-content: center;
  }  
  .appname {
    font-size: 2em;
  }
}
