* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  margin-top: 160px;
  background-image: url("./DF_Path_NoRorik.jpg");
  background-size: 100%;
}
@media only screen and (min-width: 400px) {
  body {
    margin-top: 120px;
  }
}
